#header{
    background-color: #0d0d0d;
    color: white;
}
#menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    display:inline-block;
}
#menu li a{
    display: block;
    color: white;
    padding: 15px 10px ; 
    text-decoration: none;
}
#menu li a:hover{
    background-color: rgb(50, 200, 238);
    
}
#logo{
    font-size: 2.0rem;
    margin-top: 10px;
}
/* section for all */
.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section h2.section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
}
.section h2.section-head:after{
    content: "";
    background:#e74c3c ;
    width: 100px;
    height: 3px;
    display: block;
    margin: 20px auto;

}
/* banner */
#banner{
    background: url('../images/banner1.jpg') no-repeat 0 0;
    background-size: cover;
    
}
.banner-title h1{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.banner-title p.lead{
    color: white;
    background: 	rgb(51, 51, 51,0.8);
    padding: 10px;
}
.banner-title{
    padding-top: 5rem;
}
.service-box{
    text-align: center;
}
.service-box i.fa{
    color:  #fc5d4c;
    font-size: 70px;
    margin-bottom: 15px;
}
/* testionals */
#testimonals{
    background: url('../images/b.jpg') no-repeat 0px 0px;
    background-size: cover;
    padding: 80px 0px;
    color: white;
    position: relative;
}
#testimonals:before{
    content: "";
    background: rgba(12, 13, 14, 0.8);
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    
}   
.testimonal img{
    border-radius: 50%;
}
/* news Gallary */
.news-post h3{
    font-size: 1.3rem;
    margin-top: 10px;
}
.news-post a{
    color:#e74c3c;
}
.post-date{
    margin-bottom: 7px;
}
.post-date:before{
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 7px;
}
a.read-more{
    font-size: 15px;
}
a.read-more:after{
    content:"\f101";
    font-family: FontAwesome;
    padding-left: 5px;
}
/* footerone */
#footerone{
    background: black;
    color: white;
    padding: 30px 0;
}
.footer-widge h4:after
{
    content: '';
    background:#e74c3c;
    width:50px;
    height: 2px;
    display: block;
    margin: 5px 0px;
}
.footer-side{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 40px;
}
.footer-widge a{
    text-decoration: none;
    color: white;
}
.orderlist{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.orderlist li{
    margin-bottom: 5px;
}
.orderlist li:before{
    content:"\f101";
    font-family: FontAwesome;
    padding-right: 5px;   
}
/* footertwo */
#footertwo{
    background:black;
    color: white;
    padding: 10px 0px;
}
/* #social-icon{
    list-style-type: none;
    color: white;
    margin: 0px;
    padding: 0px;
}
#social-icon li{
    display: inline-block;
    padding-left: 20px;
}
#social-icon li a{
    color: white;
    font-size: 1.3rem;
} */
/* media query css */
@media (max-width:768px)
{
    .testimonal{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-widge{
        margin-bottom: 40px;
        /* margin-top: 30px; */
    }
    .footer-side{
        border: none;
        padding: 0px 0px;
    }
    #footertwo{
        text-align: center  ;

    }
    #social-icon{
        margin-top: 10px;
    }
    #logo{
        text-align: center;
        margin: 10px 0px;
    }
    #menu{
        text-align: center;
    }
    .service-box{
        margin-bottom: 40px;
    }
    .section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .banner-title{
        padding-top:0 ;
    }
    .banner-title h1{
        font-size: 1.3rem;
    }
}